{{ 'footer.css' | asset_url  | stylesheet_tag}}
<footer>
  <div class="footer-container">
    <div class="left">
      <p>Jasper Morrison Shop</p>
      <div class="bottom">
        <p class="address">
          <span>24b Kingsland Road</span>
          <br>
          <span>London E2 8DA</span>
        </p>
        <p class="opening-times">
          <span>Monday—Friday</span>
          <br>
          <span>11am—5pm</span>
        </p>
      </div>
    </div>
    <div class="right">
      <p>&copy; Jasper Morrison Ltd</p>
      <ul>
        <li>Instagram</li>
        <li>Mailing List</li>
        <li>About Us</li>
      </ul><br>
      <a>Terms and Conditions</a>
    </div>
  </div>
</footer>