{{ 'footer.css' | asset_url  | stylesheet_tag}}
<footer>
  <div class="footer-container">
    <div class="left">
      <p>Jasper Morrison Shop</p>
      <p>
        <span>24b Kingsland Road</span>
        <span>Monday—Friday</span>
      </p>
      <p>
        <span>London E2 8DA</span>
        <span>11am—5pm</span>
      </p>
    </div>
    <div class="right">
      <p>&copy; Jasper Morrison Ltd</p>
      <ul>
        <li>Instagram</li>
        <li>Mailing List</li>
        <li>About Us</li>
      </ul>
      <p><a>Terms and Conditions</a></p>
    </div>
  </div>
</footer>