{{ 'header.css' | asset_url  | stylesheet_tag}}
<header>
  <div class="logo" style = "background-image:url('{{ "shop.svg" | asset_url }}')">
    
  </div>
  <div class="right">
    <div class="search" style = "background-image:url('{{ "search.svg" | asset_url }}')"></div>
    <div class="cart" style = "background-image:url('{{ "cart.svg" | asset_url }}')">
      <span class="count">0</span>
    </div>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const logo = document.querySelector(".logo");

    logo.addEventListener("click", () => {
      window.location = '/';
    })
  })
</script>