<ul class="items-ul">
  <li>
      <a href="/collections/all">
          <span class="image" style = "background-image:url('{{ "all.webp" | asset_url }}')">
          </span>
          <span class="name">All Products</span>
      </a>
  </li>
  {% for collection in collections %}
  {%- assign first_product = collection.products | first -%}
  <li>
      <a href="{{ collection.url }}">
          <span class="image" style = "background-image:url('{{ first_product.featured_image | image_url }}')">
          </span>
          <span class="name">{{ collection.title }}</span>
      </a>
  </li>
  {% endfor %}
</ul>